# Virtual environment
venv/

# Python cache files
**/__pycache__/
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info
**/.eggs
**/.pytest_cache
.coverage
htmlcov/

# Distribution/packaging
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/